spring:
  application:
    name: userapiserviceimpl
  datasource:
    druid:
      url: jdbc:mysql://127.0.0.1:3306/shop?useUnicode=true&characterEncoding=utf-8&useSSL=false
      username: root
      password: 123456
      initial-size: 1
      min-idle: 1
      max-active: 20
      test-on-borrow: true
      driver-class-name: com.mysql.jdbc.Driver
      
dubbo:
  scan:
    basePackages: com.sitech.myshop.user.service.provider.impl
  application:
    name: userapiserviceimpl
    id: userapiserviceimpl
    qos-port: 22222
    qos-enable: true
  protocol:
    name: dubbo
    port: 20881
    status: server
  registry:
    id: zookeeper
    address: zookeeper://192.168.204.128:2181?backup=192.168.204.128:2182,192.168.204.128:2183
  provider:
    loadbalance: roundrobin

server:  port: 8501
  
mybatis:  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.sitech.myshop.common.domain
# UserService service version
user:
  service:
    version: 1.0.0
    
 
